.stApp{
    background : linear-gradient(
        135deg,
        #0b0f1a 0%,
        #1a1033 50%,
        #2a1b4f 100%
    );

    min-height : 100vh;
    font-family : 'Segoe UI', sans-serif;
}

.card {
    background-color : #111827;
    padding : 25px;
    color : #e5e7eb;
    border-radius : 16px;
    box-shadow : 0 8px 25px rgba(88, 80, 236, 0.25);
    margin-bottom : 25px;
}

h1,h2,h3 {
    color : #c7d2fe;
}

div[data-testid = "metric-container"] {
    background-color : #020617;
    border-radius : 14px;
    padding : 15px;
    box-shadow : 0 4px 12px rgba(139, 92, 246, 0.35);
    color : #e0e7ff;
}

.prediction-box{
    background : linear-gradient(
        135deg,
        #1e1b4b,
        #312e81
    );
    padding : 22px;
    border-radius : 14px;
    text-align : center;
    font-size : 22px;
    font-weight : bold;
    color : #a5b4fc;
    margin-top : 15px;
}
